fieldset,
input,
textarea,
select,
button,
label {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1;
}

button,
textarea,
input,
select {
    padding: 2px;
    vertical-align: middle;
}

label,
button,
a {
    font-weight: 500;
}

sub {
    font-size: 0.7em;
    vertical-align: baseline;
    margin-left: 1px;
    font-weight: 300;
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    word-break: break-all;
    line-height: 1.2;
}

.control-panel {
    width: 600px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0 10px 0 10px;
}

.control-row,
.control-label-group,
.color-radio,
#bg-transform-controls,
#bg-transform-controls div,
button {
    display: flex;
    align-items: center;
}

.control-stack,
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 11px 0;
    border-color: gray;
    border-width: 0 0 1px 0;
    border-style: solid;
    gap: 11px;
    justify-content: space-around;
}

.control-row {
    gap: 0.4em;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.control-stack {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
    box-sizing: border-box;
}

.control-label-group {
    gap: 0.4em;
    box-sizing: border-box;
}

.input-group {
    position: relative;
    width: 100%;
    display: inline-block;
}

.number-field {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    box-sizing: border-box;
}

.number-field label {
    margin-right: 0;
}

#title,
#author {
    flex: 1;
}

#bgUrl {
    width: 100%;
    padding-right: 28px;
    box-sizing: border-box;
}

#clearBgUrl {
    position: absolute;
    right: 0.3em;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
}

#bg-file-button {
    padding: 1px;
    margin: 0;
}

.save-button {
    float: right;
    margin: 10px 0 0 10px;
    padding: 10px 10px;
}

#save-note {
    flex: 1;
    color: #666;
    font-size: 0.7em;
    vertical-align: middle;
    word-break: keep-all;
    visibility: hidden;
}

#bg-transform-controls,
#bg-transform-controls div {
    gap: 0.2em;
    box-sizing: border-box;
}

.icon-button {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8em;
    padding: 0.1em;
    border: 1px solid gray;
    border-radius: 15%;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"] {
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.stepper {
    display: inline-flex;
    border: 1px solid gray;
    box-sizing: border-box;
    height: 1.2em;
}

.stepper * {
    box-sizing: border-box;
}

.stepper input[type=number] {
    width: 2.1em;
    padding: 0;
    font-family: 'Pretendard-ExtraLight';
    font-feature-settings: "tnum", "lnum";
    text-align: center;
    border: solid gray;
    border-width: 0 1px;
}

.stepper button {
    width: 1.2em;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.color-radio {
    align-items: center;
}

.color-option {
    padding: 1px;
    margin: 0;
    border: 2px solid transparent;
}

.color-option div {
    width: 1em;
    height: 1em;
    border: 1px solid black;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-color: black;
}

.colorpicker {
    position: absolute;
    inset: 0;
    opacity: 0;
}

