@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

html {
    font-size: 22px;
}

body,
div,
p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#result-stage {
    width: 600px;
    height: 600px;
    transform: scale(0.5);
    transform-origin: top left;
}

#result-canvas {
    position: relative;
    width: 1200px;
    height: 1200px;
    color: white;
    text-align: justify;
    overflow: hidden;
    background-color: gray;
    z-index: -1;
}

#result-background {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
}

#result-content {
    position: absolute;
    top: 90px;
    left: 90px;
    width: 1020px;
    height: 1020px;
    z-index: 1;
    opacity: 0.92;
}

#result-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#result-title,
#result-author {
    position: absolute;
    font-family: 'Pretendard-ExtraLight';
    font-size: 48px;
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
    word-break: keep-all;
    word-wrap: break-word;
}

#result-author {
    bottom: 0;
    opacity: 0.7;
}


